<%- include("partial/header.ejs") %>




  <img class="profile hover-image" src="https://scontent-cgk1-2.xx.fbcdn.net/v/t1.6435-9/182706405_3809211975969621_5803171695132598109_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEfma57BlkpVKf62I78cZDr9oZ5Ggmz8Tb2hnkaCbPxNtuOnqh5g_6HDpPZ0RNucavieRaaX0GLTA6jVnLYGFeX&_nc_ohc=xy5-ck58SI4Q7kNvgGiMyVL&_nc_oc=AdhO3_rJUO9u6FCc3oY0Vi5crwBlhh119RAB02c_CvP15RZh6VcQrhT4CAFev-TKFrY&_nc_zt=23&_nc_ht=scontent-cgk1-2.xx&_nc_gid=APaavnveRpf5mfX0i2-nTt4&oh=00_AYAwfsx104WJ3k_7-x99hInmj5KVX8Y0Bi17Iq7sSYuBXw&oe=67E630D5" alt="cat profile">
  <div class="container">
 
    <p class="typing"></p>
</div>


  <script>
   document.addEventListener("DOMContentLoaded", function () {
    var typed = new Typed('.typing', {
        strings: ["Hi There!","I'm Yudith Pratama Ibrahim", "Welcome to my website :)"],
        typeSpeed: 50,
        backSpeed: 25,
        loop: true
    });
});
</script>




  <%- include("partial/footer.ejs") %>              