<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
  <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">



  <link rel="icon" href="/images/y.svg" type="image/svg+xml">
  <link rel="shortcut icon" href="/images/y.svg" type="image/x-icon">
  

                
  <title>yudith's web </title> 
</head>

<body class="backgroundmain">

<header>
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" >  <img src="images/y.svg" height="50px" style="filter: invert(1);"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fas fa-bars text-white"></i>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector">
          <div class="left"></div>

        </div>

        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fa-brands fa-windows"></i>Home</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/yudith-pratama-ibrahim-76b722205/"><i class="fa-brands fa-linkedin"></i>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://api.whatsapp.com/send/?phone=62895611628240&text&type=phone_number&app_absent=0"><i class="fa-brands fa-whatsapp"></i>Contact</a>
        </li>

      </ul>
    </div>
  </nav>
</header>
<main class="container">

